Set : unordered, {} ,no dups allow,no random access, unchangeable

In [1]:
st = {1,2,3,4,5.2,"ji",5.26,6,89,6,34,56,"hello"}

In [2]:
st

{1, 2, 3, 34, 4, 5.2, 5.26, 56, 6, 89, 'hello', 'ji'}

In [3]:
st[0]

TypeError: 'set' object is not subscriptable

In [4]:
len(st)

12

In [5]:
for i in st:
    print(i,end=" ")

1 2 3 4 5.2 5.26 6 34 hello 56 89 ji

In [6]:
print(type(st))

<class 'set'>

# Set Function

In [15]:
st

{1, 2, 22, 25, 3, 34, 4, 5.2, 5.26, 56, 6, 89, 'Yogesh', 'hello', 'ji'}

In [14]:
st.add("Yogesh")

In [16]:
a = {24,56,78,98,34}
b = {24,55,45,98,12}
print("Set a is  : ",a,"Set b is : ",b)

Set a is  :  {34, 98, 24, 56, 78} Set b is :  {98, 55, 24, 12, 45}

In [17]:
c = a - b

In [18]:
c

{34, 56, 78}

In [19]:
a.difference(b)

{34, 56, 78}

In [20]:
print("Set a is  : ",a,"Set b is : ",b)

Set a is  :  {34, 98, 24, 56, 78} Set b is :  {98, 55, 24, 12, 45}

In [25]:
a.symmetric_difference(b)

{12, 34, 45, 55, 56, 78}

In [26]:
print("Set a is  : ",a,"Set b is : ",b)

Set a is  :  {34, 98, 24, 56, 78} Set b is :  {98, 55, 24, 12, 45}

In [27]:
a.union(b)

{12, 24, 34, 45, 55, 56, 78, 98}

In [28]:
c = {2,3,4,5,6}

In [37]:
st

{22, 25, 3, 34, 4, 5.2, 5.26, 56, 6, 89, 'ji'}

In [32]:
st.pop()

2

In [39]:
st.remove("Yogesh")

KeyError: 'Yogesh'

In [38]:
st.discard("hello")

In [40]:
#intersection 
print("Set a is  : ",a,"Set b is : ",b)

Set a is  :  {34, 98, 24, 56, 78} Set b is :  {98, 55, 24, 12, 45}

In [41]:
a.intersection(b)

{24, 98}

In [42]:
#isdisjoint()
a.isdisjoint(b)

False

In [49]:
print("Set C is  : ",c,"\nSet a is  : ",a,"\nSet b is  : ",b)

Set C is  :  {2, 3, 4, 5, 6}
Set a is  :  {34, 98, 24, 56, 78}
Set b is  :  {98, 55, 24, 12, 45}

In [51]:
c.isdisjoint(a)

True

In [52]:
a.issubset(b)

False

In [55]:
y = a.union(b)

In [54]:
print("Set C is  : ",c,"\nSet a is  : ",a,"\nSet b is  : ",b)

Set C is  :  {2, 3, 4, 5, 6}
Set a is  :  {34, 98, 24, 56, 78}
Set b is  :  {98, 55, 24, 12, 45}

In [56]:
y

{12, 24, 34, 45, 55, 56, 78, 98}

In [58]:
a.issubset(y)

True

In [59]:
a.update(b)

In [61]:
a.update(c)

In [62]:
a

{2, 3, 4, 5, 6, 12, 24, 34, 45, 55, 56, 78, 98}

In [63]:
a.issuperset(b)

True

In [64]:
a.issuperset(c)

True

In [67]:
if c.issuperset(b):
    print("yes")
else:
    print("no")

no

In [68]:
y = a.copy()

In [69]:
y

{2, 3, 4, 5, 6, 12, 24, 34, 45, 55, 56, 78, 98}

In [70]:
y.clear()

In [71]:
y

set()

In [72]:
del y

In [73]:
y

NameError: name 'y' is not defined

In [75]:
c

{2, 3, 4, 5, 6}

In [87]:
x = frozenset(c)
print(x)
print(type(x))

frozenset({2, 3, 4, 5, 6})
<class 'frozenset'>

In [90]:
v = set(x)

In [92]:
v.add(23)

In [94]:
x = frozenset(v)

In [95]:
x

frozenset({2, 3, 4, 5, 6, 23})

In [96]:
g = {2,3,4,5,7,8,9,78,55,43,21,11,12,56}
len(g)

14

In [98]:
#count the even number in set 
count = 0
for i in g:
    if i%2==0:
        count+=1
print("Total count of even number in set is  : ",count)

Total count of even number in set is  :  6